.description {
  display: flex;
  justify-content: center;
  width: 100%;
}

.description p {
  text-align: center;
}



.content, .photos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.photo {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-direction: column;
}

.photo img {
  cursor: pointer;
}

.error {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  color: red;
}