.description {
  display: flex;
  justify-content: center;
}

.dropzone {
  display: flex;
  justify-content: center;
}

.upload {
  max-width: max-content;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
}

.upload:hover {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #fff;
}